자세한 설명은  
- https://velog.io/@hyesoup/KNNK-Nearest-Neighbor-%ED%9A%8C%EA%B7%80-%EC%98%88%EC%A0%9C

In [1]:
from sklearn.neighbors import KNeighborsRegressor

In [2]:
regressor = KNeighborsRegressor(n_neighbors=3, weights = 'distance')

In [3]:
training_points = [
    [0.5, 0.2, 0.1],
    [0.9, 0.7, 0.3],
    [0.4, 0.5, 0.7]
]

training_labels = [5.0, 6.8, 9.0]
regressor.fit(training_points, training_labels)

KNeighborsRegressor(n_neighbors=3, weights='distance')

In [4]:
unknown_points = [
    [0.2, 0.1, 0.7],
    [0.4, 0.7, 0.6],
    [0.5, 0.8, 0.1]
]

guesses = regressor.predict(unknown_points)

In [5]:
guesses

array([7.28143288, 7.76451922, 6.8457845 ])

In [6]:
import pandas as pd

movie_dataset = pd.read_csv('./movie_dataset.csv')
movie_ratings = pd.read_csv('./movie_ratings.csv')

In [7]:
movie_dataset

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
95,tt0000097,short,"Place de l'Opéra, First View","Place de l'Opéra, 1er aspect",0,1896,\N,\N,"Documentary,Short"
96,tt0000098,short,"Place de l'Opéra, Second View","Place de l'Opéra, 2e aspect",0,1896,\N,\N,"Documentary,Short"
97,tt0000099,short,Place de la Bastille,Place de la Bastille,0,1896,\N,\N,"Documentary,Short"
98,tt0000100,short,Place de la Concorde,Place de la Concorde,0,1896,\N,\N,"Documentary,Short"
99,tt0000101,short,Place du théâtre français,Place du théâtre français,0,1896,\N,\N,"Documentary,Short"

In [8]:
movie_dataset = movie_dataset[['startYear', 'runtimeMinutes']]
movie_dataset.head()

   startYear runtimeMinutes
0       1894              1
1       1892              5
2       1892              4
3       1892             12
4       1893              1

In [9]:
movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   startYear       100 non-null    int64
 1   runtimeMinutes  100 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

In [10]:
movie_dataset['startYear'].value_counts()

1896    66
1895    19
1894     6
1897     3
1892     3
1898     2
1893     1
Name: startYear, dtype: int64

In [11]:
for i in range(len(movie_dataset)):
    if movie_dataset['runtimeMinutes'][i] == '\\N':
        movie_dataset['runtimeMinutes'][i] = 1

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
movie_dataset.head()

   startYear runtimeMinutes
0       1894              1
1       1892              5
2       1892              4
3       1892             12
4       1893              1

In [13]:
movie_ratings

       tconst  averageRating  numVotes
0   tt0000001            5.7      1864
1   tt0000002            6.0       244
2   tt0000003            6.5      1633
3   tt0000004            5.8       158
4   tt0000005            6.2      2459
..        ...            ...       ...
95  tt0000097            5.0        32
96  tt0000098            5.1        35
97  tt0000099            4.7        31
98  tt0000100            4.8        49
99  tt0000101            4.7        27

[100 rows x 3 columns]

In [14]:
movie_ratings = movie_ratings['averageRating']
movie_ratings.head()

0    5.7
1    6.0
2    6.5
3    5.8
4    6.2
Name: averageRating, dtype: float64

In [17]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors = 5, weights = 'distance')
model.fit(movie_dataset, movie_ratings)

KNeighborsRegressor(weights='distance')

In [23]:
print(model.predict([
    [1892, 2],
    [2020, 7],
    [1900, 1]
]))

[5.96542182 5.07876114 5.01666667]