In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
train = pd.read_csv('./train.csv')
train.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,1,M,0.605,0.470,0.115,1.1140,0.3925,0.2910,0.3100,15
1,2,I,0.430,0.315,0.095,0.3780,0.1750,0.0800,0.1045,8
2,3,I,0.580,0.490,0.195,1.3165,0.5305,0.2540,0.4100,18
3,4,M,0.535,0.405,0.175,1.2705,0.5480,0.3265,0.3370,13
4,5,I,0.310,0.235,0.090,0.1270,0.0480,0.0310,0.0400,6

## 문자열 데이터 인코딩

In [37]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(train['Gender'])
labels = encoder.transform(train['Gender'])
train['Gender'] = labels

In [38]:
train.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,1,2,0.605,0.470,0.115,1.1140,0.3925,0.2910,0.3100,15
1,2,1,0.430,0.315,0.095,0.3780,0.1750,0.0800,0.1045,8
2,3,1,0.580,0.490,0.195,1.3165,0.5305,0.2540,0.4100,18
3,4,2,0.535,0.405,0.175,1.2705,0.5480,0.3265,0.3370,13
4,5,1,0.310,0.235,0.090,0.1270,0.0480,0.0310,0.0400,6

In [45]:
encoder.classes_

array(['F', 'I', 'M'], dtype=object)

## 모델 학습

In [39]:
x = train.drop(columns=['id','Target'], axis=1)
y = train.Target

In [40]:
train_data, train_label, test_data, test_label = train_test_split(x,y,train_size = 0.8, test_size = 0.2)

In [46]:
model = RandomForestClassifier()
model.fit(x,y)

RandomForestClassifier()

In [50]:
test = pd.read_csv('./test.csv')
test.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight
0,1,F,0.595,0.470,0.155,1.121,0.4515,0.1780,0.1550
1,2,M,0.580,0.450,0.150,0.927,0.2760,0.1815,0.3600
2,3,I,0.260,0.205,0.070,0.097,0.0415,0.0190,0.0305
3,4,M,0.590,0.460,0.130,1.102,0.4550,0.2055,0.3300
4,5,F,0.595,0.465,0.140,1.113,0.5175,0.2440,0.3050

In [51]:
labels = encoder.transform(test['Gender'])
test['Gender'] = labels

In [52]:
test_data = test.drop(['id'], axis=1)

In [53]:
prediction = model.predict(test_data)

In [60]:
submission = pd.read_csv('./sample_submission.csv')
submission['Target'] = prediction
submission.to_csv('./submit.csv', index = False)